@model OrangeBricks.Web.Controllers.Property.ViewModels.MyPropertiesViewModel

@{
    ViewBag.Title = "My Properties";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Properties</h2>

<p>Here is a list of your properties:</p>

@if (Model.Properties.Any())
{
    foreach (var property in Model.Properties)
    {
        <hr />
        <h3>@property.StreetName</h3>
        <p>@property.Location</p>
        <p>@property.NumberOfBedrooms bedroom @property.PropertyType</p>
        <p>@property.Description</p>

        if (property.HasOffers)
        {
            <a class="btn btn-default" href="@Url.Action("OnProperty", "Offers", new { id = property.Id })">Check offers</a>
        }
        if (property.HasViewings)
        {
            <a class="btn btn-default" href="@Url.Action("ForProperty", "Viewings", new { id = property.Id })">Check viewings</a>
        }

        if (!property.IsListedForSale)
        {
            using (Html.BeginForm("ListForSale", "Property"))
            {
            @Html.Hidden("PropertyId", property.Id)
            <input class="btn btn-primary" type="submit" value="List Property For Sale" />
            }
        }
    }
}
else
{
    <div class="alert alert-info" role="alert">
        You haven't listed any properties yet!
    </div>
}